extends template
block content
    div
        | Hello #{userName}
        br
        | Welcome on board, your Email: #{userMail}.
        br
        | Please activate your profile. 👇
        br
        form(action=`http://localhost:3000/authentication/activate/${mailToken}` method="POST")
            button(type="submit" class='btn' ) Click here to approve your email.
